{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "prettier"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true
    },
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "ignorePatterns": [
    "webpack/",
    ".eslint",
    ".eslintignore",
    ".gitignore"
  ],
  "rules": {
    "no-use-before-define": "off",
    "jsx-quotes": ["error", "prefer-single"],
    "react/button-has-type": "warn",
    "object-curly-newline": "off",
    "react/prefer-stateless-function": ["off", { "ignorePureComponents": "on" }],
    "class-methods-use-this": ["error", { "enforceForClassFields": false}],
    "react/destructuring-assignment": [
      "error",
      "always",
      {
        "ignoreClassFields": true
      }
    ]
  },
  "overrides": [
    {
      "files":  ["*.js", "*.jsx"],
      "rules": {
        "spaced-comment": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/no-noninteractive-element-interactions": "off",
        "jsx-a11y/no-static-element-interactions": "off",
        "react/jsx-props-no-spreading": "off",
        "react/require-default-props": "off",
        "react/no-unused-prop-types": "off",
        "arrow-body-style": "off",
        "react/prop-types": "off",
        "no-param-reassign": ["error", { "props": false }]
      }
    }
  ]
}