@import '../../styles/colors.scss';

.btn {
  color: $white;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 3px;

  &--big {
    width: 279px;
    height: 36px;
  }
  
  &--normal {
    width: 74px;
    height: 24px;
  }
  
  &--small {
    width: 24px;
    height: 24px;
  }

  &--blue {
    background: $blue;
  }
  
  &--green {
    background: $green;
  }
  
  &--red {
    background: $red;
  }
}


