@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.btn {
  color: $white;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  text-transform: uppercase;
  @include btnText;

  &--big {
    width: 279px;
    height: 36px;
  }
  
  &--normal {
    width: 74px;
    height: 24px;
  }
  
  &--small {
    width: 24px;
    height: 24px;
  }

  &--blue {
    background: $blue;

    &:hover {
      background: darken($color: $blue, $amount: 2%);
    }

    &:focus {
      background: darken($color: $blue, $amount: 5%);
    }
  }
  
  &--green {
    background: $green;

    &:hover {
      background: darken($color: $green, $amount: 2%);
    }

    &:focus {
      background: darken($color: $green, $amount: 5%);
    }
  }
  
  &--red {
    background: $red;

    &:hover {
      background: darken($color: $red, $amount: 2%);
    }

    &:focus {
      background: darken($color: $red, $amount: 5%);
    }
  }
}


