$blue: #0079b8;
$alert: #c92100;
$green: #62a420;
$cardBorder: #cccccc;
$cardBg: #fafafa;
$headerBg: #002538;
$footerBg: #eeeeee;
$line: #565656;
$modal: #313131;
$black: #000000;
$white: #ffffff;
$red: #e62700;
$inputLine: #9a9a9a;
$labelText: #004A70;
$labelBg: #E1F1F6;
$labelBorder: #89CBDF;
$scrollbar: #0079B8;
$scrollbarTrack: #d1d1d1;
