$blue: #0079b8;
$alert: #c92100;
$green: #62a420;
$card-bg: #cccccc;
$header-bg: #002538;
$footer-bg: #eeeeee;
$line: #565656;
$modal: #313131;
$black: #000000;
$white: #ffffff;
$red: #e62700;
$input-line: #9a9a9a;
