@import '../../../../styles/colors.scss';
@import '../../../../styles/fonts.scss';

.book {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  @include titleModal;
}

.label {
  color: $labelText;
  padding: 5px 10px;
  background: $labelBg;
  border: 1px solid $labelBorder;
  border-radius: 11px;
  align-self: flex-start;
}

.text {
  line-height: 24px;
  overflow: auto;
  height: 320px;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: $scrollbarTrack;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar;
    height: 90%;
  }
}