@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.card__item {
  display: grid;
  grid-template-columns: 5% 60% 25%;
  border: 1px solid $cardBorder;
  background: $cardBg;
  padding: 23px;
  gap: 20px;
  position: relative;
  align-items: center;
}

.unfavorite,
.favorite {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
}

.unfavorite {
  background: $footerBg;
}

.favorite {
  background: $green;
}

.title {
  white-space: nowrap; /* Отменяем перенос текста */
  overflow: hidden; /* Обрезаем содержимое */
  padding: 5px; /* Поля */
  text-overflow: ellipsis; /* Многоточие */
  font-family: 'Encode Sans Expanded';
  color: $line;
}
