.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

